### CREATE .h5 data

In [1]:
import h5py as h5 ###* A library to read and write hdf5 files
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [4]:
base_path = 'C:\\Users\hgera\OneDrive\Escritorio\Computer-vision-LSM\data\dataset\Faces'
base_path = base_path.replace('\\', os.path.sep) ###* Replace the backslash with the correct separator
faces = os.listdir(base_path) ###* List of the letters to write in hdf5
faces

['enojado', 'feliz', 'neutral', 'sorpresa', 'triste']

In [ ]:
data = {}   ###* Dictionary to store the data of the letters
for face in faces:
    face_path = os.path.join(base_path, f'{face}') ###* Path to the folder e
    csv_files = [f for f in os.listdir(face_path) if f.endswith('.csv')] ###* List of the csv files in the folder
    # print(csv_files) 
    positions = [] ###* List to store the positions of the letter
    for csv_file in csv_files: ###* Iterate over the csv files
        file_path = os.path.join(face_path, csv_file) ###* Path to the csv file
        df = pd.read_csv(file_path, header=0 ) ###* Read the csv file
        # df = df.drop(columns=['cz'])
        positions.append(df.values.reshape(df.values.shape[0]*df.values.shape[1],1)) ###* Append the values of the csv file to the list
    positions = np.concatenate(positions, axis=1) ###* Concatenate the values of the cs
    data[face] = positions ###* Concatenate the positions

In [7]:
for face in faces:
    print(f'{face}: {data[face].shape}')

enojado: (936, 3197)
feliz: (936, 5043)
neutral: (936, 5124)
sorpresa: (936, 4033)
triste: (936, 3079)

In [5]:
# del faces[0] ###* Delete the face 'Disgusto'
# del faces[0] ###* Delete the face 'Enojo'
# del faces[1] ###* Delete the face 'Miedo'
# del data['Disgusto'] ###* Delete the face 'Disgusto'
# del data['Enojo'] ###* Delete the face 'Enojo'

In [8]:
faces

['enojado', 'feliz', 'neutral', 'sorpresa', 'triste']

In [9]:
for face in faces:
    data[face] = data[face][:,:3079] ###* Take the first  values of the faces
for face in faces:
    print(f'{face}: {data[face].shape}')

enojado: (936, 3079)
feliz: (936, 3079)
neutral: (936, 3079)
sorpresa: (936, 3079)
triste: (936, 3079)

### FIRST dimension are the positions the second is the number of examples
### face.shape -> (nx,m) nx are the caracteristics and m is the number of examples

### ALL mi positions for letters are flatenned

In [10]:
df

     cx  cy
0    47  71
1    45  60
2    46  63
3    41  49
4    45  57
..   ..  ..
463  52  37
464  51  39
465  50  39
466  69  34
467  71  32

[468 rows x 2 columns]

### This make sense because we have m csv files, and for each csv we have a 468X2 data

#### Let's to write a.h5 file to store all the data

In [15]:
save_path = 'C:\\Users\hgera\OneDrive\Escritorio\Computer-vision-LSM\data\\features\positions_FACES_v2.h5'
save_path = save_path.replace('\\', os.path.sep) ###* Replace the backslash with the correct separator
print('save_path:', save_path)
with h5.File(save_path, 'w') as h5file:
    for face, positions in data.items():
        grp = h5file.create_group(face)
        grp.create_dataset('positions', data=positions)

save_path: C:\Users\hgera\OneDrive\Escritorio\Computer-vision-LSM\data\features\positions_FACES_v2.h5

### Let's to visualizase our dataset of 5 emotions

In [16]:
dataset = h5.File(save_path, 'r')
# type(dataset)

In [17]:
with h5.File(save_path, 'r') as h5file:
    data = []
    labels = []
    for letter in h5file.keys():
        positions = h5file[letter]['positions'][:]
        data.append(positions)
        print(positions.shape)
        labels.extend([letter]  )

labels = np.array(labels)
labels = np.reshape(labels, (labels.shape[0], 1))

(936, 3079)
(936, 3079)
(936, 3079)
(936, 3079)
(936, 3079)

In [18]:
labels

array([['enojado'],
       ['feliz'],
       ['neutral'],
       ['sorpresa'],
       ['triste']], dtype='<U8')